@CHARSET "EUC-KR";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=PT+Scans);
body,html {
	height: 100%;
}
a {
	text-decoration: none;
}
body{
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	line-height: 1.1;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}
.pc-only {
	
}
.mob-only {
	display: none;
}
.font_nm{
	font-weight: normal;
}
#body_wrap {
	width: 100%;
	height:100%;
}
.login_page {
	width: 100%;
}
header {
	box-shadow: 1px 1px 1px #ccc;
	
}
nav {
	max-width:865px;
	margin: 0 auto;
	padding: 15px 0;
}
nav li {
	display: inline-block;
	vertical-align: middle;
}
nav li + li {
	padding-left: 20px;
}
nav a.link_home {
	display: inline-block;
}
nav li img {
	width: 30px;
	vertical-align: middle;
	padding-right : 5px;
}

.login_wrap {
	max-width: 865px;
	margin: 10px auto 0;
	padding: 3% 13% 1%;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}